<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="circleChart" style="height:500px"></div>
<script th:inline="javascript">
        // 基于准备好的dom，初始化echarts图表 折线图中 标注面积图
        var myChart = echarts.init(document.getElementById('circleChart'));
        var  option = {
            tooltip : {
                trigger: 'item'
            },
            title : {
                text: '模拟数据',
                subtext:'数据纯属虚构',
                x:'center',
                textStyle : {
                    color: '#fff'
                }
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataZoom : {show: true},
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            dataRange: {
                min: 0,
                max: 100,
                y: 'center',
                text:['高','低'],           // 文本，默认为数值文本
                color:['lightgreen','yellow'],
                calculable : true
            },
            xAxis : [
                {
                    type : 'value',
                    scale : true
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    position:'right',
                    scale : true
                }
            ],
            animation: false,
            series : [
                {
                    name:'scatter1',
                    type:'scatter',
                    symbolSize:5,
                    data: (function () {
                        var d = [];
                        var len = 500;
                        var value;
                        while (len--) {
                            value = (Math.random()*100).toFixed(2) - 0;
                            d.push([
                                (Math.random()*value + value).toFixed(2) - 0,
                                (Math.random()*value).toFixed(2) - 0,
                                value
                            ]);
                        }
                        return d;
                    })()
                }
            ]
        };

        // 为echarts对象加载数据
        myChart.setOption(option);
</script>