<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px"></div>
<div id="lines" style="height: 400px;"></div>
<script th:inline="javascript">
    $(function () {
        console.log("运行程序");
        $.ajax({
            url:'/queryLinesForWebsite',
            type:'POST',
            async:"true", //默认是true,异步
            dataType:"json",
            data:null,
            success:function(res){
                loadBarDataForWebSite(res);
                loadEchartsDataForLines(res);
                console.log(res)
            }
        });
    });
    function loadBarDataForWebSite(res){
        // 基于准备好的dom，初始化echarts图表 折线图中 标注面积图
        var myChart = echarts.init(document.getElementById('main'));

        var option = {
            title : {
                text: '用户访问情况',
                subtext: '纯属虚构'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:res.type,
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : res.dateArray,
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:res.type[0],
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:res.a1,
                },
                {
                    name:res.type[1],
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:res.a2,
                },
                {
                    name:res.type[2],
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:res.a3,
                },
                {
                    name:res.type[3],
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:res.a4,
                },
                {
                    name:res.type[4],
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:res.a5,
                },
                {
                    name:res.type[5],
                    type:'line',
                    smooth:true,
                    itemStyle: {normal: {areaStyle: {type: 'default'}}},
                    data:res.a6,
                }
            ]
        };
        // 为echarts对象加载数据
        myChart.setOption(option);
    }
    // 折线图
    function loadEchartsDataForLines(res) {
        // 基于准备好的dom，初始化echarts图表 折线图中 标注面积图
        var myChart = echarts.init(document.getElementById('lines'));
        option = {
            title : {
                text: '最近一周的访问量变化',
                subtext: '纯属虚构'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['最高访问量','最低访问量']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : res.dateArray,
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} °C'
                    }
                }
            ],
            series : [
                {
                    name:'最高访问量',
                    type:'line',
                    data:res.a1,
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                },
                {
                    name:'最低访问量',
                    type:'line',
                    data:res.a6,
                    markPoint : {
                        data : [
                            {name : '周最低', value : -2, xAxis: 1, yAxis: -1.5}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name : '平均值'}
                        ]
                    }
                }
            ]
        };
        // 为echarts对象加载数据
        myChart.setOption(option);
    }
</script>
